<div id="head"></div>
{{#each rowData}}
<form action="/" method="POST" id="new-entry">
    <fieldset>
        <legend>Edit</legend>
        <div>
            <label for="name">Exercise Name</label>
            <input id="name" type="text" name="name" required value="{{this.name}}">
        </div>
        <div>
            <label for="reps">Reps</label>
            <input id="reps" type="number" min=0 name="reps" value="{{this.reps}}">
        </div>
        <div>
            <label for="weight">Weight</label>
            <input id="weight" name="weight" type="number" min=0 value="{{this.weight}}">
        </div>
        <div>
            <label for="date">Date</label>
            <input id="date" name="date" type="date" value="{{this.date}}">
        </div>
        </div>
		<div>
            <label for="lbs">lbs (1) KG (0)</label>
            <input id="lbs" type="number" min=0 max =1 name="lbs" value="{{this.lbs}}">
        </div>
        <div>
            <input type="hidden" name="id" value="{{this.id}}">
            <input type="submit" id="submit" value="Submit">
        </div>
    </fieldset>
</form>
{{/each}}

